*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: 'poppins';
}
body {
    background-image: url('images/Code-setup.jpg');
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
.header{
    height: 70px;
    color: #ffffff;
    background-color: #2AA1EB;
    position: fixed;
    width: 100%;
    padding-right: 100px;
    
}
.logo h1{
    display: inline;
    padding: 15px 0;
    font-weight: bold;
    font-size: 32px;
}
.logo{
    float: left;
}
.navbar{
    float: right;
    background-color: #2AA1EB;
}
.navbar ul li{
    padding: 15px;
}
.navbar ul li a{
    text-decoration: none;
    color: #ffffff;
    font-weight: bold;
}